@charset "UTF-8";

.account {
	padding: 30px;
	background-color: #f8f9fa;
}

.card-header {
	background-color: #f8f9fa; 
	color: #6fa08d;
	font-size : 18px;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Slate';
}

.card-body {
	padding: 20px;
}

.section-content ul {
	list-style-type: none;
	padding: 0;
}

.section-content li {
	margin-bottom: 5px;
	font-family: 'Slate';
}

.image-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: url('https://media.istockphoto.com/id/493536446/photo/panoramic-aerial-view-on-spacious-pine-forest-at-sunrise.jpg?s=612x612&w=0&k=20&c=dq7uaRvBkVUTLHDJ_yrP9slgCSW7CrijfdxO44Ts8Uc=') no-repeat center center;
    background-size: cover;
    z-index: 1000;
}