@charset "UTF-8";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url('https://wallpaperaccess.com/full/1129092.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.carousel {
	max-width: 800px;
	margin: 40px auto;
}

.carousel-inner img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	border-radius: 5px;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 5px;
}

h1 {
	text-align: center;
	margin-top: 40px;
	font-size: 2.5em;
	font-family: 'Gazpacho';
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	background-color: #9C27B0;
}

.navbar {
	transition: all 0.3s ease;
	overflow: hidden;
}

.navbar-expand {
	max-height: 60px;
	background-color: #333;
}

.navbar-collapse {
	max-height: 0;
	transition: max-height 0.3s ease;
}

.navbar-expand:hover .navbar-collapse {
	max-height: 300px;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.navbar-nav a {
	padding: 15px 20px;
	text-decoration: none;
	color: #000000;
	display: flex;
	align-items: center;
}

.navbar-nav a:hover {
	background-color: #6fa08d;
	border-radius: 4px;
}

.navbar-brand {
	padding: 15px;
	color: #ffffff;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

.register, .body {
	background: linear-gradient(to bottom, #a0d6ff, #698c2e);
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}